on: [push, pull_request]
name: Static Analysis
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Lint
      uses: golangci/golangci-lint-action@v1
      with:
        version: v1.26
        args: --timeout=5m
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Go-CI Setup
      uses: rkoCyrus/Go-CI@1.01
    - name: Fix vendor
      run: go mod vendor
    - name: test
      run: make test